<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="My suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="All">
        <classes>
            <class name="io.qameta.allure.test.FeatureCombinationsTest" />
            <class name="io.qameta.allure.test.ListenerTest" />
        </classes>
    </test>
</suite>