name: Build

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'
      - 'hotfix-*'

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: "Set up JDK"
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: "Build with Gradle"
        run: ./gradlew build -x test --scan

      - name: "Run tests"
        if: always()
        run: ./gradlew --no-build-cache cleanTest test
